[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# IDE
.idea/
.vscode/
*.csproj
*.sln
*.unityproj
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# OS-specific
.DS_Store
Thumbs.db
